.card {
  width: 300px;
  padding: 15px;
  margin: 10px;
  height: 500px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  text-align: left;
}

.card-title {
  font-size: 20px;
  text-align: center;
}

.card-img {
  width: 100%;
  height: 170px;
}

.card-paragraph {
  font-size: 13px;
}

.card-info {
  font-size: 15px;
}

.card-url {
  text-decoration: none;
  color: #044c8b;
}

.card-url:hover {
  text-decoration: underline;
}
